body{
    background-color: grey;
    min-width: 650px;
}
header{
    width: 100%;
}
select.especialidad{
    width: 100%;
}
select.programa{
    width: 60%;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 30px;
}  
select.experiencia{
    width: 30%;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 30px;
}
div.programa-row{
    width: 45%;
    padding: 0;
}
div.header{
    display: block;
}
#logo{
    width: 100%;
    padding: 0;
}
nav{
    margin-left: 100px;
    padding: 10px;
    padding-bottom: 0px;
}
.nav-busqueda{
    width: 100%;
    padding-top: 0px;
    margin-top: -30px;
    margin-left: 256px;
}
#nav-editar-perfil{
    width: 100%;
    padding-top: 0px;
    margin-left: 600px;
}
div{ 
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 90%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 5px;
}
div.seleccionar-especialidad{
    display: flex;
    padding: 0px;
}
div.bloque-especialidad{
    display: none;
}
div.bloque-inicial{
    display: block;
}
div.especialidad{
    display: flex;
    padding: 0px;
    min-width: 30%;
    margin:0;
    width:100%;
}
div.especialidad.busqueda{
    display: block;
}
div.programa-row.busqueda{
    margin: 0px;
    width: 100%;
}
select.experiencia.busqueda{
    width: 40%;
    margin-right: 0;;
}
div.ficha{
    min-width: 750px;
    display: block;
}
div#titulo-box{
    width: 50%;
    display: block;
    margin: 0px;
    padding: 0px;
}
div#sector-box{
    width: 50%;
    padding: 0;
    margin: 0px;
    display: block;
}
div#datos-notas{
    padding: 0px;
    width: 100%;
}
div#datos-inf{
    padding: 0px;
    margin-left: 0px;
    display:-ms-inline-grid;
}
#bloque-programas{
    display: block;
}
div.datos{
    width: 50%;
    display: flex;
    padding: 0px;
}
div.div-notas{
    padding: 0px;
}
textarea{
    width: 100%;
    padding-bottom: 5px;
}
fieldset{
    margin: 0 auto;
    width: 90%;
}
p#txt-tecnologias{
    float: left;
    position: relative;
}
p#txt-experiencia{
    float: right;
    position:relative;
    margin-left: auto;
}
div.programa-row-left{
    margin-left: 0px;
    width: 50%;
    padding: 0;
    justify-content: flex-start;
}
div.programa-row-right{
    margin-right: 0px;
    width: 50%;
    padding: 0;
    justify-content: flex-end;
}
#div-titulo-sector{
    padding: 0px;
}
p#advertencia{
    color:red;
    font-size: large;
    text-decoration: underline;
}
#form-busqueda{
    width: 100%;
}
#area-busqueda{
    padding: 0;
    width: 100%;
    margin:auto;
    padding: 0;
}
div.form-busqueda{
    width: 50%;
    margin: 0;
    display: block;
    padding-top: 0;
    padding-bottom: 0px;;
}
button{
    transform: skewX(-32deg);
    border:1px solid #4e6096;
    background-color:#7892c2;
    padding: 5px;
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    width: 170px;
}
button:hover{
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);  
}
button a{
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    color:#ffffff;
    font-size: 16px;
}
#editar-perfil{
    border:1px solid #964e4e;
    background-color:#c27878;
    background:linear-gradient(to bottom, #c27878 5%, #9e4747 100%);
}
#editar-perfil:hover{
    background:linear-gradient(to bottom, #9e4747 5%, #c27878 100%);  
}
#editar-perfil a{
    text-shadow:0px 1px 0px #662828;
}
#eliminar-perfil{
    border:1px solid #854e96;
    background-color:#b378c2;
    background:linear-gradient(to bottom, #b378c2 5%, #8a479e 100%);
}
#eliminar-perfil:hover{
    background:linear-gradient(to bottom, #8d479e 5%, #b178c2 100%);  
}
#eliminar-perfil a{
    text-shadow:0px 1px 0px #662828; 
}
#buscar-por-programas{
    width:180px;
}
input[type="text"], input[type="email"], input[type="tel"], select {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin: 3px 10px 3px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
  }
input[type=submit], button#boton-ver-perfil, button#boton-ver-cv{
    box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	border-radius:5px;
	border:1px solid #4e6096;
	cursor:pointer;
	color:#ffffff;
	font-size:19px;
	background-color:#7892c2;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    width: 100%;
    height: 40px;
    transform: skewX(0deg);
}
input[type=submit]:hover , button#boton-ver-perfil:hover,  button#boton-ver-perfil:hover{
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}
optgroup[label="Mecánica"]{
    background-color: #F4B084;
}
optgroup[label="Arquitectura"]{
    background-color: #92D050;
}
optgroup[label="Obra Civil"]{
    background-color: #9BC2E6;
}
optgroup[label="Industrial"]{
    background-color: #FFD966;
}
option{
    background-color: white;
}
div#cuadro-busquedas{
    display: block;
    padding-top: 30px;
    margin-top: -30px;
    padding-bottom: 0px;
}
#busqueda-programas{
display:none;
}
.resultadoCandidato{
    display: flex;
    padding-top: 0px;
    padding-bottom: 0px;
}
.resultadoCandidato>div>h1{
    margin-bottom: 0px;

}
.resultadoCandidato>div{
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: block;
}
.resultadoCandidato>div>h3{
    margin-bottom: 0px;
    align-self: end;
}
.contenedorResultado{
    padding: 0px;
}
div.softwareExperiencia{
    display: block;
    padding: 0px;
}
div.botones-candidato{
    padding: 15px 0px 0px 0px;
}
div.notas-candidato-resultado{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
form#form-fila-candidato{
    padding: 0px;
    width: 50%;
}
div#boton-ver-perfil{
    padding: 0px;
}